name: Checkmarx One Scan
on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master, pr-test ]    
permissions:
  actions: read
  contents: read
  security-events: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Checkmarx One Scan
        uses: cx-kedar-bhujade/ast-github-action@c119d73e3da078f762c2eeb86bb16e812f9fd6b0
        with:
          project_name: URL_Shortner
          cx_tenant: ${{ secrets.CX_TENANT }}
          base_uri: https://eu.ast.checkmarx.net/
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          utils_params: "--debug"

 
